<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="footer">
        <footer class="footer" style="text-align: center;">
            <div class="container">
                <span style="color:antiquewhite;">
                    © 2020 • CoderUCI • Zhenhan Li • All rights reserved.
                </span>
                &nbsp;&nbsp;&nbsp;
                <span>
                    <a href="https://www.facebook.com/profile.php?id=100007909126520" target="_blank"><i class="fab fa-facebook-square fa-lg social-icon"></i></a>
                    &nbsp;
                    <a href="https://github.com/dabaitudiu" target="_blank"><i class="fab fa-github-square fa-lg social-icon"></i></a>
                    &nbsp;
                    <a href="https://www.linkedin.com/in/zhenhan-li-3a35a5185/" target="_blank"><i class="fab fa-linkedin fa-lg social-icon"></i></a>
                </span>
            </div>
        </footer>
    </div>
</body>
</html>